<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DemoVersionBankId</key>
	<string>demo</string>
	<key>DemoVersionURL</key>
	<string>http://192.168.1.3:8080/mbkserver/</string>
	<key>BankCatalogURL2</key>
	<string>http://192.168.1.3:8080/bankcatalog/bankcatalog/</string>
	<key>BankCatalogURL</key>
	<string>http://10.1.9.3:8080/bankcatalog/bankcatalog/</string>
</dict>
</plist>
